useDynLib(IAMUQ, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, rnorm)
importFrom(stats, dnorm)
importFrom(stats, qnorm)
importFrom(stats, rlnorm)
importFrom(stats, dlnorm)
importFrom(stats, qlnorm)
importFrom(stats, runif)
importFrom(stats, dunif)
importFrom(stats, qunif)
importFrom(parallel, detectCores)
importFrom(adaptMCMC, MCMC)
importFrom(adaptMCMC, MCMC.parallel)
importFrom(DEoptim, DEoptim)
exportPattern("^[[:alpha:]]+")
